/* ======================================================= */
/* MARK: - Initirizing - */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
    color: #312F28;
    background: #F3F2EC;
}
body{
    margin: 0;
}

a {
    text-decoration: none;
    color: #4B87E6;
}


/* ======================================================= */
/* MARK: - Header - */
header {
    font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
    width: 100%;
    height: 50px;
    background-color: #4A473D;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.17);
}

header .container {
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    align-items: flex-end;
    height: 100%;
    padding: 10px;
}

header .header-item {
    margin-left: 30px;
}

.logo-container {
    height: 30px;
}
.logo-container img {
    height: 100%;
}
.site-description {
    font-size: 13px;
    color: #F3F2EC;
}


/* ======================================================= */
/* MARK: - Site Container - */

.site-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
@media screen and (max-width: 1000px) {
    /* Mobile */
    .site-container {
        flex-direction: column;
    }
}
/* ======================================================= */
/* MARK: - Main - */


main {
    width: 70%;
    padding: 20px;
    margin-right: 10px;
}

@media screen and (max-width: 1000px) {
    main {
        width: 100%;
    }
}

/* ======================================================= */
/* MARK: - Card - */ 
.card {
    font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
    border-radius: 3px;
    background-color: white;
    padding: 20px 30px; 
    margin-bottom: 30px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.17);
}

.card-title-container {
    width: 170px;
    height: 44px;
}

.card-title {
    width: 170px;
    height: 44px;
    font-size: 27px;
    font-weight: lighter;
}
.title-blue {
    border-bottom: solid 10px #B2DCFF;
}
.title-red {
    width: 230px;
    border-bottom: solid 10px #FFC4BC;
}

/* ======================================================= */
/* MARK: - Retest Books - */

.re-book-container {
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


@media screen and (min-width: 0px) { 
    /* Tablet & Mobile */
    .re-book-item {
        width: 300px;
        height: 250px;
    }    
    .re-book-thumb {
        width: 130px;
    }    
    .re-book-metadata {
        width: 150px;
    }
}

@media screen and (min-width: 1171px) { 
    /* Fullscreen */
    .re-book-item {
        width: 360px;
        height: 300px;
    }    
    .re-book-thumb {
        width: 150px;
    }
    .re-book-metadata {
        width: 190px;
    }
}

.re-book-item {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
}

.re-book-thumb {
    border-radius: 2px;
    box-shadow: 0 1px 5px rgba(1 , 1, 1, 0.5);
}

.re-book-metadata {
    display: flex;
    flex-direction: column;
}
.re-book-metadata > * {
    margin-top: 6px;
}

.re-book-item h4 {
    overflow-wrap: normal;
    font-size: 17px;

}
.re-book-item a {
    font-size: 13px;
}
.book-starts {
    height: 13px;
}

.re-book-item p {
    margin-top: 15px;
    line-height: 1.4em;

    font-size: 13px;
    color: #8A8A8A;
    width: 100%;
    overflow: hidden;
}




/* ======================================================= */
/* MARK: - Recommended - */
.rc-book-container {
    display: flex;
    margin: 44px 0;
    flex-wrap: wrap;
    justify-content: space-between;
}
.rc-book-item {
    width: 120px;
    margin-bottom: 20px;
}

.rc-book-thumb {
    width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.book-title {
    font-weight: bold;
}
.rc-container-separator {
    border: solid 0.5px #D8D8D8;

}



.book-metadata-container{
    display: flex;
    flex-direction: column;
}

.book-metadata-container .book-title {
    margin: 7px 0;
    font-size: 13px;
}
.book-metadata-container .book-author {
    text-decoration: none;
    font-size: 13px;;
}
.book-metadata-container .book-stars {
    margin-top: 5px;
    width: 70%;
}



/* ======================================================= */
/* MARK: - Sidebar - */
.sidebar {
    min-width: 230px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.17);
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.sidebar-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 32px;
}

.sidebar-title {
    background-color: #4A473D;
    width: 90%;
    height: 24px;
    margin-bottom: 24px;
    border-radius: 2px;
    color: white;
    text-align: center;
    line-height: 24px;
    font-weight: lighter;
}
.sidebar-content {
    width: 90%;
    background: blue;
}


/* ======================================================= */
/* MARK: - Or Common - */

footer {
    width: 100%;
    height: 100px;
    background: #312F28;
}
/* ======================================================= */
/* MARK: - Or Common - */

.more-button-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
}
.more-button {
    background-color: #D7D1B9;
    width: 180px;
    height: 32px;
    border-radius: 200px;
    font-size: 19px;
    color: #312F28;
    text-align: center;
    line-height: 32px;
    vertical-align: middle;
    color: #312F28;
}
.more-button:hover {
    background-color: #B3AE98;
}